body {
  margin-top: 50px;
}

.navbar-toggle {
  float: left;
  }

.btn {
  margin-top: 3px;
}

.btn-default {
  text-shadow: none;
  border: none;
}

.navbar-nav > li > a {
  text-shadow: none;
}

.projectheader {
  padding-top: 72px;
  padding-bottom: 90px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 72px;
  text-align: center;
}

.maindek {
  font-size: 24px;
  text-align: center;
  font-weight: 200;
}
.d3-tip {
    line-height: 1;
    font-size: small;
    font-weight: 400;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    max-width: 150px;
    overflow: auto;
  }

.d3-tip ul  {
list-style-type: none;
font-size: small;
font-weight: 400;
margin: 0px;
padding: 0px;
}

.d3-tip li  {
  margin-bottom: 3px;
}

.d3-tip h5  {
  margin: 0px 0px 6px 0px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ababab;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    fill: #ababab;
  }

  .axislabel {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    fill: gray;
    paint-order: stroke;
    stroke: white;
    stroke-width: 10px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
  }

  @media screen and (min-width: 600px) {
    .axislabel {
      font-size: 18px;
    }
  }
  
  .barlabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: 400;
  fill: #ababab;
  }
  
  .recession {
    fill: #4c4c4c;
  }

  .recessionbox {
    fill: #3f3f41;
  }


  .recessiontext {
    font-weight: 500;
    font-size: 12px;
    fill: #4c4c4c;
  }


  .Brooklyn, .children, .AdvReg, .GrandLarceny  {
    fill: #2b8cbe;
    background-color: #2b8cbe;
  }

  .Queens, .adultsInfamilies, .Reg, .FelonyAssault {
    fill: #4eb3d3;
    background-color: #4eb3d3;
  }

  .Bronx, .singleMen, .Local, .Robbery{
    fill: #7bccc4;
    background-color: #7bccc4;
  }

  .Manhattan, .singleWomen, .Burglary {
    fill: #a8ddb5;
    background-color: #a8ddb5;
  }

  .Staten, .GrandLarcenyAuto {
    fill: #ccebc5;
    background-color: #ccebc5;
  }

  .Citywide, .Murder, .NewYork  {
    fill: #08589e;
    background-color: #08589e;
  }

  .Rape{
    fill: #f0f9e8;
    background-color: #f0f9e8;
  }

  .USCity, .National{
    fill: #000000;
    background-color: #000000;
  }

  .NYState, .Northeast{
    fill: #bcbcbc;
    background-color: #bcbcbc;
  }

 .USCityLn, .NationalLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
  }

 .NYStateLn, .NortheastLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #bcbcbc;
  }

  .CitywideLn, .NewYorkLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #08589e;
  }

  .ManhattanLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #a8ddb5;
  }

  .BrooklynLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2b8cbe;
  }

  .QueensLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #4eb3d3;
  }

  .BronxLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #7bccc4;
  }

  .StatenLn {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ccebc5;
  }
 
 .Baseline {
    stroke-width: 2px;
    stroke-dasharray: 4,6;
  }

  .Circle:hover {
    fill-opacity: .75;
  }

  .label {
    float: left;
    margin-right: 3px;
    margin-top: 3px;
  }

  .chartsubhead{
    margin-bottom: 20px;
  }
  
  .chartlabelfix {
    margin-top: -3px;
  }

  .boroughlabel {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 400;
  } 

  .spacerline {
    background-color: lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1px
  }

  .starterspacerline {
    background-color: white;
    margin-top: 40px;
    margin-bottom: 0px;
    height: 0px
  }

  .sectionline {
    height: 1px;
  }

  .sectionheader {
    font-family: 'Lora', serif;
    text-align: left;
    margin-bottom: 20px;
  }

  .sectionheader span {
    font-size: 24px;
  }

/*
  p.sectionintro:first-letter { 
    float: left;
    font-weight: 200;
    font-size: 65px; 
    line-height: 50px; 
    padding-top: 4px; 
    padding-right: 6px; 
    padding-left: 3px; 
  }

*/

  p.sectionintro {
    text-align: left;
  }

  .legendbox {
    height: 12px;
    width: 12px;
    margin-right: 4px;
  }

  .legend {
    float: left;
    vertical-align: center;
  }

  .legend tr {
    float: left;
    margin-right: 10px;
    font-size:  12px;
  }


  #ELAbarbuttongrp {
    margin-top: 10px;
  }

  .sourceline {
  	font-size: 11px;
  	margin-top: 5px;
  	text-align: right;
  	color: #ababab;
  }

  footer p {
  	font-size: 12px;
  	text-align: center;
  }

  .hidden {
  	visibility: hidden
  }

  #felonylegend {
  	margin-top: 10px;
  }

  #unemploybaselegend {
    margin-top: -5px;
  }

  .introstats li {
  	font-size: small;
  	padding-top: 5px;
  	padding-bottom: 5px;
  }

  .introstats li span {
  	font-weight: 500;
  }

  .borolabel {
  	font-size: medium;
  	font-weight: 400;
  }
  
  .borohighlight {
    fill: black;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focustext{
    fill: white;
    font-size: small;
  }

  .focustextback{
    fill: black;
    fill-opacity: 0.8;
  }

  .calloutcircle{
    stroke: black;
    stroke-width: 2;
  }
